* {
  margin: 0;
  padding: 0
}

.section {
  position: absolute;
  border: 1px solid black
}

#section4 {
  background-image: url('https://avatars.githubusercontent.com/u/20891495?s=400&u=5c8ce41de45942bbb00f83fdfaa8f48f0227db59&v=4');
  background-position: center center;
  background-repeat: no-repeat;
}

#section5 {
  display: grid;
  place-items: center;
  height: 100%;
  /* or any specific height */
}

#section1 {
  left: 0px;
  top: 0px;
}

img {
  max-width: 100%;
  height: 100%;
}

#section3 {
  display: grid;
  place-items: center;
  height: 100%;
  /* or any specific height */
}

address {
  font-style: normal;
  margin: 0 auto;
}

address span {
  display: block;
  line-height: 1.5em;
}

address span.spaced {
  margin-bottom: 1em;
}